.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      %ul.side-bar__user-name__top-items__menu-list
        %li.side-bar__user-name__top-items__menu-list__new-group
        = link_to new_group_path, class: "btn" do
          = icon('far', 'edit')
        %li.side-bar__user-name__top-items__menu-list__edit-user
        = link_to edit_user_path(current_user), class: "btn" do
          = icon('fas', 'cog')

  .side-bar__group-list
    - current_user.groups.each do |g|
      .side-bar__group-list__information
        = link_to group_messages_path(g), class: "no-underline" do 
          .side-bar__group-list__information__name
            = g.name
          .side-bar__group-list__information__message
            = g.show_last_message
 